---
layout: default
title: TrinhPHAN
categories:
 - home
---

<div class="row">
	<div class="col-lg-12">
		<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>
		<div class="bigtitle logobox">
			Trinh Phan-Canh
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-lg-12">
    <div class="smallhead">
      <p>
        I am a PhD student at the 
        <a href="https://www.meduniwien.ac.at/web/" style="color: #0000FF; font-weight: bold; text-decoration: none;" target="_blank">
          Medical University of Vienna
        </a>, based at the 
        <a href="https://www.maxperutzlabs.ac.at/" style="color: #0000FF; font-weight: bold; text-decoration: none;" target="_blank">
          Max Perutz Labs
        </a> on the 
        <a href="https://www.viennabiocenter.org/" style="color: #0000FF; font-weight: bold; text-decoration: none;" target="_blank">
          Vienna BioCenter Campus
        </a>. I was trained as a pharmacist through a 7-year academic program, including both Bachelor’s and Master’s level education at the 
        <a href="https://ump.edu.vn/" style="color: #0000FF; font-weight: bold; text-decoration: none;" target="_blank">
          University of Medicine and Pharmacy at Ho Chi Minh City
        </a> (UMP), where I served as a lecturer in the Department of Microbiology from 2016 to 2021. During that time, my research focused on secondary metabolites from Actinobacteria and Myxobacteria.
      </p>

      <p>
        I briefly studied information technology out of personal interest—skills that have proven highly beneficial throughout my PhD. In 2021, I joined 
        <a href="http://cdl.univie.ac.at/index.php" style="color: #0000FF; font-weight: bold; text-decoration: none;" target="_blank">
Prof. Karl Kuchler’s group</a>
to pursue my doctoral studies, focusing on the molecular genetics and immunology of fungal pathogens, antifungal drug resistance, and host-pathogen interactions.
      </p>

      <p>
        Although I primarily work at the bench, I have a strong interest in bioinformatics and integrative omics approaches. I’m particularly driven by the power of combining computational analysis with experimental validation to uncover biological truths.
      </p>

      <p>
        I am currently seeking a dynamic, ambitious, and intellectually stimulating postdoctoral environment where I can contribute my creativity to answering fundamental questions in biology. 
        Here is my 
        <a href="https://www.phancanhtrinh.com/pdfs/papers/PCT_CV.pdf" style="color: #0000FF; font-weight: bold; text-decoration: none;" target="_blank">
          curriculum vitae
        .</a>
      </p>
    </div>
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/blog/">News</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for post in site.categories.blog limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/eng_tut/archive">Lab Tips</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for post in site.categories.eng_tut limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/vn_tut/archive">Tutorials (Vietnamese)</a>
		</div>
		<div class="pad-left">

		</div>
		<div class="spacer"></div>
	</div>


<div class="spacer"></div><div class="spacer"></div>

	{% for post in site.categories.vn_tut limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/projects/">Active projects</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for project in site.data.projects limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-edit fa-fw"></i>
				<a class="off" href="{{ project.url }}">
				{{ project.title }} - {{ project.description }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Updated
				<a class="off" href="{{ project.commits.first.url }}">
				{{ project.commits.first.date | date: "%-d %b %Y" }}
				</a>
				by
				<a class="off" href="{{ project.commits.first.author_url }}">
				{{ project.commits.first.author_login }}
				</a>
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>



<div class="row">
	<div class="col-lg-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://github.com/phancanhtrinh" target="blank">Github</a>
				</li>
								<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://twitter.com/phancanhtrinh" target="blank">Twitter</a>
				</li>
								<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://scholar.google.com/citations?user=vQmr9WEAAAAJ&hl=en" target="blank">Scholar</a>
				</li>
												<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://www.researchgate.net/profile/Trinh-Phan-Canh" target="blank">RG</a>
				</li>
												<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://phdtalk.github.io" target="blank">PhDTalk</a>
				</li>
				<!--
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
				</li> -->
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="float-lg-right" style="vertical-align: bottom; display: table-cell;">
      <a class="off" href="https://www.meduniwien.ac.at/">
        <img width=70 src="/images/logos/Meduni-wien.svg">
      </a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a class="off" href="https://www.maxperutzlabs.ac.at/">
        <img width=68 src="/images/logos/max-perutz-labs-vienna-logo-vector.svg">
      </a>
    </div>
  </div>
</div>
