---
layout: default
---

<article class="diary-post">
	<div class="diary-post-kicker">
		<a class="off" href="/diary/"><i class="fa fa-book fa-fw"></i> Diary archive</a>
	</div>
	<h1 class="diary-post-title">{{ page.title }}</h1>
	<div class="diary-post-meta">
		<span>{{ page.date | date: "%-d %b %Y" }}</span>
		{% if page.source_url %}
		<span>From <a class="off" href="{{ page.source_url }}" target="_blank" rel="noopener">Blogspot</a></span>
		{% endif %}
	</div>

	{% if page.thumbnail %}
	<img class="diary-post-thumb diary-post-thumb-main" src="{{ page.thumbnail }}" alt="">
	{% endif %}

	<div class="bigspacer"></div>

	<div id="diary-full" class="diary-post-body post">
		{{ content }}
	</div>
</article>
